<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{ model.title }}</title>
    <link rel="stylesheet" href="/styles/madison-college-theme.css">
</head>
<body>
    {{ model.content }}
</body>
</html>
